.hero {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.symbol {
    width: 150px;
    height: 150px;
    border: 1px solid #d9bd7266;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 30px;
    box-shadow: 0 0 70px #8ce5dc12
}

.symbol:before {
    content: "✦";
    font-size: 58px;
    color: var(--gold)
}

.footer {
    text-align: center;
    color: #6f8983;
    font-size: 11px;
    margin-top: 24px
}
